.popup{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    &_inner{
        position: relative;
        padding: 50px;
        //max-width: 500px;
        //width: 100%;
        border-radius: 31px;
        background-color: #fff;
        h3{
            text-align: center;
            font-size: 32px;
            font-weight: 900;
            text-transform: uppercase;
        }
    }
}
.payMthod_box{
    width: 600px;
    max-width: 100%;
    h3{
        font-style: italic;
    }
    .payHeader{
        text-align: center;
        font-style: italic;
        font-size: 24px;
        font-weight: 900;
        color: #0F5A51;
        text-transform: uppercase;
        margin-bottom: 45px;
    }
    .submitPay{
        background: #0F5A51;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25), inset 4px 3px 5px rgba(0, 0, 0, 0.15);
        border-radius: 27px;
        color: #fff;
        font-weight: 700;
        font-size: 24px;
        margin: 60px auto 0;
        display: block;
        padding: 13px 54px;
        transition: all .3s ease;
        &:hover{
            opacity: 0.7;
        }
    }
   
    .inputField{
        width: 100%;
        position: relative;
        label{
            padding-left: 18px;
        }
        span{
            position: absolute;
            bottom: 14px;
            right: 18px;
        }
        input{
            width: 100%;
            background: #FFFFFF;
            box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
            border-radius: 27px;
            border: none;
            padding: 17px 18px;
            -moz-appearance: textfield;
            &:focus-visible{
                outline: none;
            }
            &::-webkit-inner-spin-button{
                -webkit-appearance: none;
            }
        }
    }
    .inputField_info{
        padding-left: 18px;
        font-weight: 600;
        font-size: 14px;
        position: relative!important;
        span{
            color: #0F5A51;
            position: relative!important;
            bottom: 0;
            right: 0;
            font-weight: 800;
        }
    }
}