* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif,
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(100% 306.89% at 0% 100%, #106156 0%, rgba(0, 0, 0, 0) 49.55%, rgba(2, 11, 10, 0.141132) 56.89%, #0D4F46 100%) , #0C0B19;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
