.pageWrapper{
    margin: 0;
     background-image:url(../../../public/img/page-fon.jpeg);
    //background: radial-gradient(100% 306.89% at 0% 100%, #106156 0%, rgba(0, 0, 0, 0) 49.55%, rgba(2, 11, 10, 0.141132) 56.89%, #0D4F46 100%) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh ;
}
.accountWrapper{
    max-width: 1410px;
    width: 100%;
    margin: 0 auto 0;
    padding: 0;
    

    .account_title{
        max-width: 1200px;
        width: 100%;
        margin: 30px auto;
        padding: 15px;
        background-color: rgba(255,255,255, .6);
        border-radius: 14px;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
    }
    .account_box{
        margin-top: 50px;
        display: flex;
        
        padding: 12px 30px 12px 8px;
        
        border-radius: 14px;
      .navigation{
        margin-top: 40px;
        width: 170px;
        
        
        &_link{
            list-style-type: none;
            padding: 0;
            li{
                cursor: pointer;
                padding: 4px;
                transition: all .3s ease;
                font-weight: 600;
                &:hover{
                    opacity: 0.8;
                    transform: scale(1.1);
                }
            }
        }
    }
    .account_area{
        padding: 15px;
        display: flex;
        flex: 1;
        background: #FFFFFF;
        box-shadow: 5px -1px 10px 8px rgba(0, 0, 0, 0.7);
        border-radius: 19px;
    }
    }
  
}

@media(max-width: 992px){
    .accountWrapper{
        margin-top: 0px;
        .account_box{
            padding: 0 10px;
            margin-top: 0;
            margin-bottom: 15px;
            flex-direction: column;
            align-items: center;
            .navigation{
                width: 100%;
                margin: 0 auto;
                &_link{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    li{
                        width: 48%;
                        margin: 0;
                    }
                }
            }
        }
       
    }
}