.saveBtn{
    background: linear-gradient(270deg, rgba(0, 255, 223, 0) -2.67%, #00FFDF 52.88%, rgba(0, 255, 223, 0) 104.42%);
    border: none;
    font-weight: 900;
    padding: 4px 12px;
    text-transform: uppercase;
    border: 2px solid #00FFDF;
    border-radius: 6px;
    &:hover{
        transform: scale(1.1);
    }
}
.balanceInput{
    border-radius: 8px;
    width: 80px;
    text-align: center;
    margin-right: 12px;
    font-weight: 800;
}
.pageWrapper{
    margin: 0;
     background-image:url(../../../public/img/page-fon.jpeg);
    //background: radial-gradient(100% 306.89% at 0% 100%, #106156 0%, rgba(0, 0, 0, 0) 49.55%, rgba(2, 11, 10, 0.141132) 56.89%, #0D4F46 100%) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh ;
}
.accountWrapper{
    max-width: 1330px;
    width: 100%;
    margin: 0 auto 0;
    padding: 0;
    .list_box{
        color: #ececec;
        width: 100%;
        div{
            display: flex;
            width: 100%;
            margin-bottom: 8px;
            &:hover{
                background-color: #939393;
                cursor: pointer;
            }
            span{
                width: 16%;
                font-size: 14px;
                overflow: hidden;
                margin: 3px;
                font-weight: 600;
                color: #ececec;
            }
        }
    }

    .account_title{
        max-width: 1200px;
        width: 100%;
        margin: 30px auto;
        padding: 15px;
        background-color: rgba(255,255,255, .6);
        border-radius: 14px;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
    }
    .account_box{
        display: flex;
        
        padding: 12px 30px 12px 8px;
        
        border-radius: 14px;
      .navigation{
        width: 180px;
        
        
        &_link{
            list-style-type: none;
            padding: 0;
            li{
                cursor: pointer;
                padding: 4px;
                transition: all .3s ease;
                font-weight: 600;
                &:hover{
                    opacity: 0.8;
                    transform: scale(1.1);
                }
            }
        }
    }
    .account_area{
        padding: 15px;
        display: flex;
        flex: 1;
        background: #FFFFFF;
        box-shadow: 5px -1px 10px 8px rgba(0, 0, 0, 0.7);
        border-radius: 19px;
    }
    }
  
}