.mainWraper{
    // background: radial-gradient(100% 306.89% at 0% 100%, #106156 0%, rgba(0, 0, 0, 0) 49.55%, rgba(2, 11, 10, 0.141132) 56.89%, #0D4F46 100%) , #0C0B19;
    // background-image: url(../../../public/img/register-fon.jpeg);
    // background-attachment: fixed;
    // background-size: cover;
    // background-position: center;
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // width: 100%;
    // height: 100vh;
    // margin: 0 auto;
    // padding: 30px 50px;
    //background-image: url(../../../public/img/top-main.svg);
    position: relative;
    color: #fff;
    overflow: hidden;
    .topPart{
        padding-top: 158px;
        padding-bottom: 110px;
       // background-image: url(../../../public/img/top-main.svg);
        background-color: #050e0c;
       background-size: cover;
       background-position: bottom left;
       
        position: relative;
        
        &::after{
            content: "";
            display: block;
            width: 800px;
            height: 800px;
            background-image: url(../../../public/img/index-globe.svg);
            position: absolute;
            right: -250px;
            top: 670px;
            background-repeat: no-repeat;
          }
          h1{
            font-family: 'Red Hat Display', sans-serif;
            font-size: 96px;
            margin: 30px 0 0;
            background: linear-gradient(90deg, #BAFB02 1.46%, #06AEE5 91.95%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


//text-shadow: 5px -1px 5px rgba(0, 0, 0, 0.7);

            // background: linear-gradient(90deg, #BAFB02 1.46%, #06AEE5 91.95%);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // background-clip: text;
            // text-fill-color: transparent;
            font-weight: 900;
            font-style: italic;
          }
          .titleDesrc{
            max-width: 353px;
            width: 100%;
            margin: 5px auto 34px;
            font-weight: 600;
            font-size: 24px;
            span{
                background: linear-gradient(90deg, #BAFB02 1.46%, #06AEE5 91.95%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
          }
    }
    .faq{
        h2{
            text-align: center;
            font-size: 64px;
            font-weight: 700;
        }
    }
    .mainCenter{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &_gradient{
            background: linear-gradient(90deg, #BAFB02 1.46%, #06AEE5 91.95%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-style: italic;
            font-weight: 900;
            font-size: 32px;
            line-height: 38px;
            max-width: 650px;
            text-align: center;
        }
       
    }
    .bullets{
        max-width: 1100px;
        width: 100%;
        margin: 100px auto 0;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 20;
        &Item{
            padding: 20px 24px;
            width: 32%;
            background: radial-gradient(103.98% 136.61% at 50% -15.06%, #106055 0%, #000000 100%);
            box-shadow: -1px -1px 10px 3px rgba(0, 0, 0, 0.7);
            border-radius: 25px;
            p{
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;
                margin-bottom: 21px;
            }
            div{
                font-weight: 600;
                margin-bottom: 41px;
            }
        }
        a{
            background: linear-gradient(90deg, #BAFB02 1.46%, #06AEE5 91.95%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-weight: 600;
        }
    }
    .titleFirstDescr{
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 700;
        margin-top: 100px;
        font-size: 24px;
        span{
            background: linear-gradient(90deg, #BAFB02 1.46%, #06AEE5 91.95%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    .titleDesrBlock{
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 700;
        font-size: 24px;
        span{
            background: linear-gradient(90deg, #BAFB02 1.46%, #06AEE5 91.95%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    .mainCenter_white{
        font-style: italic;
        font-weight: 900;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
        max-width: 750px;
        color: #FFFFFF;
    }
    .mainLinks{
        background: linear-gradient(90deg, #BAFB02 1.46%, #06AEE5 91.95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-weight: 900;
        font-size: 36px;
        border-radius: 8px;
        border: 1px solid #06AEE5 ;
        margin: 15px;
        padding: 4px 10px;
        transition: all .3s ease;
        &:hover{
            transform: scale(1.1)
        }
    }
    .bottomPart{
        position: relative;
        
        background: linear-gradient(0.37deg, #106156 0.32%, rgba(2, 11, 10, 0.141132) 37%, rgba(0, 0, 0, 0) 60.09%, rgba(13, 79, 70, 0) 82.28%), #0C0B19;
        .lastRegister{
            padding: 60px 0;
            position: relative;
            text-align: center;
            
            margin: 0 auto;
            font-size: 36px;
            font-weight: 700;
            z-index: 2;
            &::before{
                content: '';
                position: absolute;
                width: 118%;
                height: 86%;
                top: 120px;
                left: 50%;
                transform: translate(-50%,0);
                display: block;

                background: linear-gradient(140.65deg, #91ff08 0%, #06AEE5 100%);
            filter: blur(105.5px);
            border-radius: 120px;
            z-index: -1;
            }
            h2{
                margin: 0;
                font-weight: 700;
                font-size: 64px;
                line-height: 75px;
            }
            p{
                font-weight: 600;
                font-size: 24px;
                color: #083026;
            }
            .lastUsersTable{
                max-width: 888px;
                width: 100%;
                margin: 0 auto; 
                border: 1px solid #06AEE5;
                box-shadow: -1px -1px 10px 3px rgba(0, 0, 0, 0.7);
                background: radial-gradient(100% 193.24% at 0% 0%, #106055 1.63%, #000000 100%);
                box-shadow: -1px -1px 10px 3px rgba(0, 0, 0, 0.7);
                border-radius: 25px;
                &_item{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    padding: 16px 20px;  
                    div{
                        text-align: center;
                    }
                }
            }
            h3{
                margin-top: 100px;
                 -webkit-text-stroke: 1px #000;
            }
            p{
                font-size: 24px;
                font-weight: 600;
                color: #083026;
                max-width: 888px;
                width: 100%;
                margin: 30px auto 30px;
            }
            .qtyAccounts{
                font-weight: 700;
                font-size: 64px;
                line-height: 75px;
                -webkit-text-stroke: 1px #000;
            }
            .qtyPool{
                font-weight: 700;
                font-size: 64px;
                line-height: 75px;
                -webkit-text-stroke: 1px #000;
            }
            span{
                font-weight: 600;
                font-size: 24px;
                line-height: 28px; 
                color: #083026;
            }
        }
        .sliderWrapp{
            position: relative;
            max-width: 1000px;
                width: 100%;
                margin: 0 auto;
                &::before{
                    content: url(../../../public/img/slider-fon.png);
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
        }
        .sliderWrapp{
            text-align: center;

            img{
                // max-width: 927px;
                // width: 100%;
                margin: 60px auto 120px;
            }
        }
        .mainCab{
            text-align: center;
            width: 100%;
            h2{
                text-align: center;
                font-size: 64px;
                font-weight: 700;
                position: relative;
                top: 230px;
            }
            img{
                width: 100%;
                height: auto;
            }
        }
        .channels{
            text-align: center;
            width: 100%;
            a{
                margin: 80px;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                transition: all .3s ease;
                &:hover{
                    transform: scale(1.1);
                }
                span{
                    font-size: 24px;
                    font-weight: 700;
                    display: block;
                    width: 110px;
                    color: #B9B9B9;
                    text-decoration: none;
                    margin-top: 20px;
                }
            }
            h2{
                text-align: center;
                font-size: 64px;
                font-weight: 700;
                position: relative;
               margin-top: 100px;
            }
        }
    }
}


@media(max-width: 992px){
    .mainWraper{
        .bottomPart{
           p{
            font-size: 16px!important;
            padding-left: 20px;
            padding-right: 20px;
           }
           .qtyAccounts, .qtyPool{
            font-size: 48px!important;
            line-height: 45px!important;
            margin-top: 14px!important;
           }
        }
    }
    .mainCenter{
        padding-top: 140px;
        &_gradient{
            font-size: 26px!important;
        }
        padding-bottom: 30px;
        
    }
    .mainCenter_white{
        font-size: 18px!important;
    }
    .mainLinks{
        font-size: 30px!important;
    }
    .topPart{
        padding-bottom: 12px!important;
        img{
            width: 90%;
        }
        &::after{
            opacity: 0.2;
            width: 300px!important;   
            height: 300px!important;
            background-size: contain;
            right: -80px!important;
            top: 560px!important;
        }
        .titleDesrBlock{
            font-size: 16px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .titleFirstDescr{
            margin-top: 48px;
            font-size: 16px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .bullets{
        margin-top: 50px!important;
        flex-wrap: wrap;
        
        &Item{
            width: 100%!important;
            margin: 10px 20px;
            p{
                margin-bottom: 10px!important;
                margin-top: 0!important;
            }
            div{
                font-size: 15px;
                color: #B9B9B9;
                margin-bottom: 16px!important;
            }
            img{
                width: 20px;
                position: relative;
                top: 2px;
            }
        }
    }
    h2{font-size: 36px!important; line-height: 42px!important;}
    .lastUsersTable{
       
        &_item{
         
            div{
                font-size: 16px;
            }
        }
    }
    .lastRegister{
        &::before{
            width: 100%!important;
            height: 110%!important;
            top: 10px!important;
             background-image: url(../../../public/img/yelow-blue.svg)!important;
             background-position: center;
             background-size: contain;
             background-repeat: no-repeat;     
             filter: blur(45.5px)!important;
            

            
        }
        h3{
            margin-top: 50px!important;
        }
        p{
            margin: 10px 0!important;
        }
    }
    .sliderWrapp{
         &::before{
                    width: 100%;
                }
        img{
            width: 90%;
            margin: 40px 0 0!important;
            position: relative;
            z-index: 30;
        }
    }
    .mainCab{
        h2{
            top: 52px!important;
            max-width: 250px!important;
            margin: 0 auto!important;
        }
    }
    .faq{
        padding: 0 20px;
        position: relative;
        z-index: 15;
    }
    .channels{
        padding-bottom: 40px;
        h2{
            margin: 50px 0 20px!important;
            padding: 0 25px;
        }
        a{
            margin: 18px!important;
            display: block;
            img{
                width: 90px!important;
                margin: 0 auto!important;
            }
        }
        span{
            font-size: 20px!important;
            margin-top: 10px!important;
        }
    }
}